/node_modules/
/.idea/
test.txt
/Fresh Carrots/solution/frontend/node_modules/
/Fresh Carrots/solution/ium_Notebook/.idea/
/Fresh Carrots/solution/spring_boot_server/.idea/
/Fresh Carrots/solution/frontend/node_modules/
/Fresh Carrots/solution/MainServer/node_modules/
